<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Year started</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    @if (isLoading) {
      <div class="spinner-table">
        <div class="spinner primary"></div>
      </div>
    }
    @for(show of shows; track show.id) {
      <tr >
        <td data-label="Name">{{show.name}}</td>
        <td data-label="Country">{{show.country}}</td>
        <td data-label="Year started">{{show.start_date | date: 'yyyy'}}</td>
        <td data-label="Status">{{show.status}}</td>
        <td data-label="Actions">
          <span class="icon-info"></span>
          <span class="icon-bookmark" [class.highlight]="favoritesService.favorites().includes(show.id)"
                (click)="favoritesService.toggleFavorite(show.id)"></span>
          <span class="icon-link"></span>
        </td>
      </tr>
    }
  </tbody>
</table>
