<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Year started</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td data-label="Name">Alone</td>
    <td data-label="Country">US</td>
    <td data-label="Year started">2015</td>
    <td data-label="Status">Running</td>
    <td data-label="Actions">
      <span class="icon-info"></span>
      <span class="icon-bookmark"></span>
      <span class="icon-link"></span>
    </td>
  </tr>
  <tr>
    <td data-label="Name">Black Mirror</td>
    <td data-label="Country">UK</td>
    <td data-label="Year started">2011</td>
    <td data-label="Status">To Be Determined</td>
    <td data-label="Actions">
      <span class="icon-info"></span>
      <span class="icon-bookmark highlight"></span>
      <span class="icon-link"></span>
    </td>
  </tr>
  <tr>
    <td data-label="Name">True Detective</td>
    <td data-label="Country">US</td>
    <td data-label="Year started">2014</td>
    <td data-label="Status">Running</td>
    <td data-label="Actions">
      <span class="icon-info"></span>
      <span class="icon-bookmark"></span>
      <span class="icon-link"></span>
    </td>
  </tr>
  </tbody>
</table>
