<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <form>
        <fieldset>
          <legend>TV Show Search</legend>
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Name of the show" #searchField/>
          <button class="primary" (click)="runSearch(searchField.value, $event)">Search</button>
        </fieldset>
      </form>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-tv-show-table [shows]="data()" [isLoading]="searchService.isSearching()">

        </app-tv-show-table>
      </div>
  </div>
</div>
